.vscode/**
.vscode-test/**
src/**
node_modules/**
!node_modules/mermaid/dist/mermaid.min.js
!node_modules/highlight.js/styles/**
.omc/**
esbuild.js
.gitignore
tsconfig.json
AGENTS.md
spec/**
**/*.ts
**/*.map
out/**/*.d.ts
